SUBSYSTEMS=="usb", KERNELS=="1-6.4.3.4:1.0", DRIVERS=="cdc_acm", SYMLINK+="APHCMM_UC"
#SUBSYSTEMS=="usb", ENV{ID_VENDOR}=="*arduino*", DRIVERS=="cdc_acm", SYMLINK+="ardu"
#
SUBSYSTEMS=="usb", KERNELS=="1-6.4.3.7.4:1.0", DRIVERS=="pl2303", SYMLINK+="APHCMM_S2"
SUBSYSTEMS=="usb", KERNELS=="1-6.4.3.5:1.0", DRIVERS=="ch341", SYMLINK+="APHCMM_S3"
SUBSYSTEMS=="usb", KERNELS=="1-6.4.3.7.2:1.0", DRIVERS=="ftdi_sio", SYMLINK+="APHCMM_S4"
SUBSYSTEMS=="usb", KERNELS=="1-6.4.3.7.1:1.0", DRIVERS=="ftdi_sio", SYMLINK+="APHCMM_S1"

SUBSYSTEMS=="usb", ENV{ID_MODEL}=="DT55XXE_4_CH_HV_POWER_SUPPLY", DRIVERS=="cdc_acm", SYMLINK+="CAEN_DT5521"
#SUBSYSTEMS=="usb", KERNELS=="1-1:1.0", DRIVERS=="cdc_acm", SYMLINK+="CAEN_DT5521"
#SUBSYSTEMS=="usb", ENV{ID_MODEL}=="DT55XXE*", DRIVERS=="cdc_acm", SYMLINK+="CAEN_DT5521"

SUBSYSTEM=="usb", MODE="0666", GROUP="usbusers"
